<h2>已经报名的人员列表</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
        <span class="attendday">{{hero.attendday}}参加</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<!-- <div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} {{selectedHero.attendday}}参加
    </h2> -->
    <!-- <button (click)="gotoDetail()">View Details</button> -->
    <!-- <button (click)="goBack()">Back</button> -->
<!-- </div>-->
<button (click)="goBack()">返回登录报名系统</button> 
<!-- <div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
    Add
    </button>
</div> -->